@import "tailwindcss";

/* https://tailwindcss.com/docs/theme#default-theme-variable-reference */
@custom-variant dark (&:is(.dark *));



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-outline: var(--outline);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-available: var(--available);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --font-sans: var(--font-figtree);
}

/* 1A1A1A */
:root {
  --background: #161616;
  --foreground: #E3E3E3;
  --card: #1C1C1C;
  --card-foreground: #757575;
  --outline: #2E2E2E;
  --primary: #007AFF;
  --primary-foreground: #FFFFFF;
  --secondary: #FFF;
  --secondary-foreground: #000;
  --available: #55BBAF;
  --muted-foreground: #6B6B6B;
  --accent-foreground: #999999;
}

.dark {
  --background: #161616;
  --foreground: #E3E3E3;
  --card: #1C1C1C;
  --card-foreground: #757575;
  --outline: #2E2E2E;
  --primary: #007AFF;
  --primary-foreground: #FFFFFF;
  --secondary: #FFF;
  --secondary-foreground: #000;
  --available: #55BBAF;
  --muted-foreground: #6B6B6B;
  --accent-foreground: #999999;
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-weight: normal;
}

@layer utilities {
  .container {
    max-width: 38.75rem;
    margin-left: auto;
    margin-right: auto;
  }

  
  .container-md {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .paragraph {
    font-size: 14px;
    line-height: 22px;
    color: var(--card-foreground);
  }

  .markdown > * {
    all: revert;
  }

  .markdown p {
    font-size: 14px;
    line-height: 22px;
    color: var(--card-foreground);
  }

  .markdown h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: var(--foreground);
  }

  .btn--primary {
    background-color: var(--primary);
    color: var(--foreground);
    padding: .75rem 1.5rem;
    display: flex;
    align-items: center;
    width: max-content;
    gap: 0.5rem;
    border-radius: 90px;
    transition: filter 0.3s ease;
  }

  .btn--primary:hover, 
  .btn--primary:focus {
    filter: brightness(1.2);
  }
}