@import "tailwindcss";

/* https://tailwindcss.com/docs/theme#default-theme-variable-reference */
@custom-variant dark (&:is(.dark *));



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-outline: var(--outline);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-available: var(--available);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-foreground: var(--accent-foreground);
  
  --font-sans: var(--font-figtree);
}

:root {
  --background: #1A1A1A;
  --foreground: #E3E3E3;
  --card: #1C1C1C;
  --card-foreground: #757575;
  --outline: #2E2E2E;
  --primary: #007AFF;
  --available: #55BBAF;
  --muted-foreground: #6B6B6B;
  --accent-foreground: #999999
}

.dark {
  --background: #1A1A1A;
  --foreground: #E3E3E3;
  --card: #1C1C1C;
  --card-foreground: #757575;
  --outline: #2E2E2E;
  --primary: #007AFF;
  --available: #55BBAF;
  --muted-foreground: #6B6B6B;
  --accent-foreground: #999999
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-weight: normal;
}

@layer utilities {
  .container {
    max-width: 38.75rem;
    margin-left: auto;
    margin-right: auto;
  }
  .paragraph {
    font-size: 14px;
    line-height: 22px;
    color: var(--card-foreground);
  }
}