
@keyframes pulse {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}

.available_indicator {
  animation: pulse 1.5s ease-out infinite;
}
